@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 28px 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008080;
  color: #fff;
}

.nav-items {
  display: flex;
  gap: 32px;
}

.nav-items li {
  list-style: none;
  font-weight: 500;
}

.logo:hover,
ul li:hover {
  cursor: pointer;
  color: black;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

section {
  display: flex;
  padding: 0px 128px;
  align-items: center;
  gap: 200px;
}

img {
  width: 50%;
}

div {
  text-align: center;
}

div h2 {
  margin-bottom: 22px;
  font-size: 22px;
  font-weight: 700;
}

div p {
  font-weight: 500;
}

button {
  border: none;
  background-color: #008080;
  color: white;
  padding: 12px 24px;
}

button:hover {
  background-color: #186e6e;
  cursor: pointer;
}

.modal {
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  width: 260px;
  text-align: center;
}

.modal::backdrop {
  background-color: #ccc;
  /* Transparent */
  opacity: 0.4;
}
